h4 {
    text-decoration: underline;
}
 body{
    background-image: url("..//images/background.jpg");
    background-size: cover;
    color: white;  
 }

 #row1{
     padding-top: 135px;
 }
h1 {
    text-align: center;
    font-weight: bold;
    
}
.container {
    font-family: "Audiowide";
    color: white;
    font-size: 70px;  
}
#card1{
    background-color: rgb(33,89,172);
    opacity: 1;
    border: none;
}

 @import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato', sans-serif;
    ;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 90px;
  margin: 0.2em;
  position: relative;
  color: orangered;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color:rgb(0, 255, 13);
  text-shadow: 
    -1px 0px 1px rgb(3,151,221),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: rgb(3,151,221);
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}